streamlit==1.42.0
tensorflow==2.18.0
keras==2.13.1
tensorflow-recommenders==0.7.3
pandas==2.0.3
numpy>=1.26.0,<2.1.0
scikit-learn==1.3.0
joblib==1.4.2
h5py>=2.9.0
watchdog
setuptools>=41.0.0
wheel>=0.33.0
dill>=0.3.6